@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <body background="bg.jpg",style="linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)" >
        <h1 class="text-center text-white d-none d-lg-block site-heading"><span class="site-heading-upper mb-3" style="color: rgb(255,255,255);">Preventative Maintenance has never been easier</span><span class="site-heading-lower">QuickFix</span></h1>
        <nav class="navbar navbar-light navbar-expand-lg bg-dark py-lg-4" id="mainNav">
            <div class="container">
                <a class="navbar-brand text-uppercase d-lg-none text-expanded" href="#">QuickFix</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="nav navbar-nav mx-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Home</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">About us</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Forums</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Sign-Up</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/Users/Index">login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner text-center rounded">
                            <h2 class="section-heading mb-4"><span class="section-heading-upper">How it works</span><span class="section-heading-lower" style="font-size: 28px;">easy to understand, easy to save</span></h2>
                            <p class="mb-0">
                                Avoid the hassle of driving your car or having it towed to a service center. Time is valuable and so are our vehicles, which is why we make the entire process easy for you! Pricing will always be fair and transparent, and connecting
                                with local mechanics has never been easier. Start saving time, and money today sign up now!&nbsp;
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
     </body>
